.logo a img{
 width: 58px;
}
#search{
    margin-top: 15px;
    float: right;
    width: 436px;
}
.first-div{
    margin-top: 3px;
}
.navbar {
    padding: 3px;
}
.navbar-nav li a{
    color: #fff;
}
.navbar-nav li a:hover{
 color:#191502;
}
.navbar-nav1 {
    margin-left: auto;
}
#navgation{
 background-color: #f8d11c;   
}
.nav-btn{
margin-top:10px;
padding: 5px;
border-radius:5px;
}
.nav{
    position: sticky;
}